
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}


.alert-success {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.alert-success hr {
  border-top-color: #2ecc71;
}
.alert-success .alert-link {
  color: #fff;
}


.alert-danger {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}


.alert-info {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}


.row{

  padding: 0px 5px 0px 5px;
}

body {padding-top:20px;}


.container2{

  background-color: #fff;
  padding: 15px 15px 15px 15px;
}


.cntr{
  align: center;
  text-align: center;
  content-align: center;

}

.wdth{

  width: 60%;
}

.row{

  padding: 15px 15px 15px 15px;
}
