@import "bootstrap-sprockets";
@import "bootstrap";


nav {
  margin: 10px 0;
  padding-left:5em;
}


form {

  width: 50%;
  align-content: center;
  padding-left:2em;

}

page-header {

  padding-left:2em;


}
